:root{
    --ms-color-green: #1ABC9C;
    --ms-footer-top-color:  #39546D;
    --ms-footer-bottom-color: #2C3D50;
    --ms_nav_background:#2C3E50;

}

html{
    overflow-x: hidden;
}

header{
    height: 70px;
}

main{
    padding-top: 70px;
}

.ms_bg_green{
    background-color: var(--ms-color-green);
}
.ms_color_green{
  color: var(--ms-color-green);
}

.ms_background_nav{
    background-color: var(--ms_nav_background);
}

.debug .box{
    width: 200px;
}

.box_2{
    border: dashed 2px yellow;
    width: 600px;
}

.box_2 img{
    width: 100%;
}

.debug .box_3{
    min-width: 250px;
}

#about .container{
    padding: 0 80px;
}

.ms_footer_top{
background-color: var(--ms-footer-top-color);
}

.ms_footer_bottom{
    background-color: var(--ms-footer-bottom-color)
}

.box img{
    width: 100%;
}

.ms_pb{
    padding-bottom: 100px;
}



