:root{
    --ms-color-green: #1ABC9C;
    --ms-footer-top-color:  #39546D;
    --ms-footer-bottom-color: #2C3D50;
    --ms_nav_background:#2C3E50;
    --dark-color: black;
}

html{
    overflow-x: hidden;
}

main{
    padding-top: 78px;
}

.ms_bg_green{
    background-color: var(--ms-color-green);
}
.ms_color_green{
  color: var(--ms-color-green);
}

.ms_background_nav{
    background-color: var(--ms_nav_background);
}

.debug .box{
    width: 200px;
}

.box_2{
   width: 600px;
}

.box_2 img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 1px 2px 5px;
}

.debug .box_3{
    min-width: 250px;
}

#about .container{
    padding: 0 80px;
}

.ms_footer_top{
background-color: var(--ms-footer-top-color);
}

.ms_footer_bottom{
    background-color: var(--ms-footer-bottom-color)
}

.box img{
    width: 100%;
}

.ms_pb{
    padding-bottom: 100px;
}

.ms_width_btn{
    width: 135px;
}

.nav-link:hover {
    color: var(--ms-color-green);
}


header .nav-link{
    color: white;
}

.ms_star::before{
    content: '';
    width: 20%;
    min-width: 150px;
    display: inline-block;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 20px;
}

.ms_star::after{
    content: '';
    width: 20%;
    min-width: 150px;
    display: inline-block;
    height: 5px;
    background-color: white;
    border-radius: 5px;
    vertical-align: middle;
    margin-left: 20px;
}

.ms_btn:hover{
    background-color: rgb(33, 59, 33);

}




